<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Headless RC Transmitter configuration tool{% endblock %}</title>
    <meta name="description" content="A tool to configure the headless radio control transmitters designed by LANE Boys RC">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="../static/manifest.json"> -->



    <!-- Generate using http://realfavicongenerator.net/ -->

    <!-- Enable add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../images/android-desktop.png">

    <!-- Enable add to homescreen for Safari on iOS -->
    <!-- The icon should be 128×128 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Headless RC Tx">
    <link rel="apple-touch-icon-precomposed" href="../images/ios-desktop.png">

    <!-- <link rel="shortcut icon" href="../images/favicon.png"> -->



    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"> -->
    <!-- <link rel="stylesheet" href="../src/fonts/roboto.css"> -->

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <!-- <link rel="stylesheet" href="../src/fonts/materialicons.css"> -->

    <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.deep_orange-blue.min.css"> -->
    <!-- <link rel="stylesheet" href="../../stylesheets/material.deep_orange-blue.min.css"> -->
    <!-- <link rel="stylesheet" href="../../stylesheets/styles.css"> -->



    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}
      {% for p in ["main", "about", "edit_curve", "edit_switch", "limits", "mixer", "mixer_unit", "model_details", "model_list", "rf_protocol", "select_multiple", "select_single", "transmitter_details", "transmitter_list"] %}
        <div id="page_{{ p }}" class="app-page hidden">
        {% set pg= "src/html/pages/" + p + ".html" %}
        {% include pg %}
        </div>
      {% endfor %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
  </body>
</html>
