<div class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" onclick="history.go(-1);">
        <i class="material-icons">arrow_back</i>
      </a>
      <div class="mdl-layout-spacer"></div>
      <span class="mdl-layout-title">Limits</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <main class="mdl-layout__content" >
    <!-- Card -->
    <section class="section--center mdl-grid"> <!-- style="display: none;"> -->
      <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Output channel limits</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Before the result of mixing sticks, potentiometers and switches
          gets sent to the receiver, a number modifiers are applied. These
          allow to adjust mechanical center position and endpoints
          without influencing the mixing process.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <table class="limits mdl-data-table mdl-js-data-table">
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Invert:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="app-limits-invert">
                  <input id="app-limits-invert" type="checkbox" class="mdl-switch__input">
                </label>
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Sub-trim:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <input id="app-limits-subtrim" class="mdl-slider mdl-js-slider" type="range" min="-10000" max="10000">
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Endpoint left:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <input id="app-limits-ep_l" class="mdl-slider mdl-js-slider" type="range" min="-10000" max="10000">
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Endpoint right:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <input id="app-limits-ep_h" class="mdl-slider mdl-js-slider" type="range" min="-10000" max="10000">
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Limit left:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <input id="app-limits-limit_l" class="mdl-slider mdl-js-slider" type="range" min="-15000" max="15000">
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Limit right:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <input id="app-limits-limit_h" class="mdl-slider mdl-js-slider" type="range" min="-15000" max="15000">
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Failsafe position:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <input id="app-limits-failsafe" class="mdl-slider mdl-js-slider" type="range" min="-10000" max="10000">
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Speed:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <input id="app-limits-speed" class="mdl-slider mdl-js-slider" type="range" min="0" max="100">
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </section>

  </main>
</div>
