<div class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" onclick="history.go(-1);">
        <i class="material-icons">arrow_back</i>
      </a>
      <div class="mdl-layout-spacer"></div>
      <span class="mdl-layout-title">Mixer unit</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <main class="mdl-layout__content" >
    <!-- Card -->
    <section class="section--center mdl-grid"> <!-- style="display: none;"> -->
      <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Mixer unit</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Lorem ipsum ...
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <table class="mixer-unit mdl-data-table mdl-js-data-table">
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Source:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                ST
              </td>
              </span>
              <td class="mdl-data-table__cell--non-numeric">
                <a class="" href="#/select_single">
                  <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">
                    <i class="material-icons">mode_edit</i>
                  </button>
                </a>
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Invert source:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                  <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
                </label>
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Destination:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                CH1
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <a class="" href="#/select_single">
                  <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">
                    <i class="material-icons">mode_edit</i>
                  </button>
                </a>
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Curve:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                Expo 30%
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <a class="" href="#/edit_curve">
                  <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">
                    <i class="material-icons">mode_edit</i>
                  </button>
                </a>
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Switch:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                (none)
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <a class="n" href="#/edit_switch">
                  <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">
                    <i class="material-icons">mode_edit</i>
                  </button>
                </a>
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Operation:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                = (replace)
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <a class="mdl-list__item-secondary-action" href="#/select_single">
                  <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">
                    <i class="material-icons">mode_edit</i>
                  </button>
                </a>
              </td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                Apply trim:
              </td>
              <td class="mdl-data-table__cell--non-numeric">
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                  <input type="checkbox" id="switch-2" class="mdl-switch__input" checked>
                </label>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </section>

  </main>
</div>
