<div class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" onclick="history.go(-1);">
        <i class="material-icons">arrow_back</i>
      </a>
      <div class="mdl-layout-spacer"></div>
      <span class="mdl-layout-title">Models</span>
      <div class="mdl-layout-spacer"></div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="more_vert">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="more_vert">
        <li class="mdl-menu__item" onclick="window.location='#/model_details'">Create model</li>
      </ul>
    </div>
  </header>

  <main class="mdl-layout__content" >
    <!-- Card -->
    <section class="section--center mdl-grid"> <!-- style="display: none;"> -->
      <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Models</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Select a model to view or modify.
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-card--expand">
          <div class="mdl-list">
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">directions_car</i>
                <span>TT01</span>
              </span>
              <a class="mdl-list__item-secondary-action" href="#/model_details">
                <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">
                  <i class="material-icons">mode_edit</i>
                </button>
              </a>
            </div>
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">directions_car</i>
                <span>TA03RS</span>
              </span>
              <a class="mdl-list__item-secondary-action" href="#/model_details">
                <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">
                  <i class="material-icons">mode_edit</i>
                </button>
              </a>
            </div>
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">directions_car</i>
                <span>Durga</span>
              </span>
              <a class="mdl-list__item-secondary-action" href="#/model_details">
                <button class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">
                  <i class="material-icons">mode_edit</i>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Card that is shown when no model is available -->
    <section class="section--center mdl-grid">
      <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col" href="#/model_details" onclick="this.getElementsByTagName('a')[0].click()">
        <div class="mdl-card__title mdl-card--expand">
          <div class="mdl-list">
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">add_circle</i>
                <span>Create a new model and add it to the database.</span>
              </span>
            </div>
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#/model_details">
            Create model
          </a>
        </div>
      </div>
    </section>
  </main>
</div>
