<div class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" onclick="history.go(-1);">
        <i class="material-icons">arrow_back</i>
      </a>
      <div class="mdl-layout-spacer"></div>
      <span class="mdl-layout-title">RF protocol setup</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <main class="mdl-layout__content" >
    <!-- RF protocol type Card -->
    <section class="section--center mdl-grid">
      <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col mdl-color--primary">
        <div class="mdl-card__title"><i class="icon--large material-icons">warning</i></div>
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Warning</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Modifying any value on this page requires re-binding of the receiver.
        </div>
      </div>
    </section>

    <!-- RF protocol type Card -->
    <section class="section--center mdl-grid">
      <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">RF protocol</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand  ">
          Select the RF protocol to use. Currently only the HobbyKing HKR3000 protocol is supported.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="protocol_hkr3000">
            <input checked class="mdl-radio__button" id="protocol_hkr3000" name="protocol" type="radio" value="on">
            <span class="mdl-radio__label">HKR3000</span>
          </label>
        </div>
      </div>
    </section>

    <!-- Address -->
    <section class="section--center mdl-grid">
      <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Address</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
          This 5-byte hexadecimal number defines the unique nRF24 address used by this model.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <form>
            <div class="mdl-textfield mdl-js-textfield">
              <input id="app-rf_protocol-address" class="mdl-textfield__input" type="text" pattern="[A-F,a-f,0-9]{2}:[A-F,a-f,0-9]{2}:[A-F,a-f,0-9]{2}:[A-F,a-f,0-9]{2}:[A-F,a-f,0-9]{2}" value="">
              <!-- <label class="mdl-textfield__label" for="app-rf_protocol-address">Address ...</label> -->
              <span class="mdl-textfield__error">5 hex numbers separated by ':'</span>
            </div>
          </form>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Generate random address
          </a>
        </div>
      </div>
    </section>

    <!-- Hop channels -->
    <section class="section--center mdl-grid">
      <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Hop channels</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand">
          <p>A sequence of 20 channels that define the frequency hopping algorythm. The transmitter switches to the next channel in the squence every 5 milliseconds.</p>
          <p><strong>Note:</strong> for HobbyKing receivers only use a linear sequence of hope channels in the range of 0..69!</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <form>
            <div class="mdl-textfield mdl-js-textfield">
              <input id="app-rf_protocol-hop_channels" class="mdl-textfield__input" type="text" pattern="(\d\d? ?)+" value="">
              <!-- <label class="mdl-textfield__label" for="app-rf_protocol-hop_channels">Hop channels ...</label> -->
              <span class="mdl-textfield__error">20 numbers between 0 and 125<span>
            </div>
          </form>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Random hop sequence
          </a>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Linear hop sequence
          </a>
        </div>
      </div>
    </section>

  </main>
</div>
