<div class="mdl-layout mdl-js-layout mdl-layout--no-drawer-button mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" onclick="history.go(-1);">
        <i class="material-icons">arrow_back</i>
      </a>
      <div class="mdl-layout-spacer"></div>
      <span class="mdl-layout-title">Select single</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <main class="mdl-layout__content" >

    <!-- RF protocol type Card -->
    <section class="section--center mdl-grid">
      <div class="mdl-card mdl-shadow--8dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Item name</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand  ">
          Item description.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="item1">
            <input checked class="mdl-radio__button" id="item1" name="selection" type="radio" value="on">
            <span class="mdl-radio__label">ST</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="item2">
            <input checked class="mdl-radio__button" id="item2" name="selection" type="radio">
            <span class="mdl-radio__label">TH</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="item3">
            <input checked class="mdl-radio__button" id="item3" name="selection" type="radio">
            <span class="mdl-radio__label">AIL</span>
          </label>
        </div>
      </div>
    </section>

  </main>
</div>
