html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* Limit the size of the single-colum cards on large screens */
section.section--center {
    max-width: 600px;
}

/* Large icon in a card */
i.icon--largeicon--large {
  font-size: 5rem;
}

/* Correct text field position when used in a card */
.mdl-card .mdl-textfield, .mdl-card .mdl-textfield__label {
  padding-left: 10px;
}

/* Radio buttons positioned in a card are shown one-per-line */
.mdl-card__actions .mdl-radio {
  display: block;
}

/* Make icons used in a list (transmitter, model) larger than default */
.mdl-list__item-primary-content .mdl-list__item-icon {
  height: 40px;
  width: 40px;
  font-size: 40px;
}

/* Enlarge and align icons with text in the hamburger menu */
.mdl-navigation__link i {
  font-size: 32px;
  padding-right: 8px;
  margin-top: -5px;
}

/* Make the LANE Boys RC logo float left in the About card */
.logo {
  float: left;
  padding-right: 16px;
}

/* Make the table fill the card and hide the border */
.mdl-card .mdl-data-table {
  width: 100%;
  border: none;
}

/* Hide border of table cells in a card */
/* Use normal (16px) font size on tables used in cards */
.mdl-card .mdl-data-table td {
  border: none;
  font-size: 16px;
}


/* Mixer-unit: Right-most column (switches and buttons) has the elements
   aligned to the right */
table.mixer-unit td:nth-child(3) {
  text-align: right;
}

/* Mixer-unit: If a switch does not have a label, as it is in our case, it is
   still a rather wide element where the actual visible switch is left-aligned.
   In order to right-align it in the table cell so that it visually aligns with
   the buttons consisting of a single icon, we need set the switch width as
   follows:

   The widest visible part of the switch is the "track", which is 36px.
   The button width is minimally 64px, with the icon centered in the button.
   So we need to set the switch to 36 + ((64 - 36) / 2) = 50px
 */
table.mixer-unit .mdl-switch {
  width: 50px;
}

/* Mixer-unit: Make the middle colum the widest so that the mixer unit gets
   visually left-aligned to the label in the first colum */
table.mixer-unit td:nth-child(2) {
  width: 80%;
}


/* Mixer: Make the middle colum the widest so that it becomes most prominent
   and visually centered. */
table.mixer td:nth-child(2) {
  width: 80%;
  text-align: center;
}


/* Limits: Make the 2nd colum the widest to give the sliders maximum space */
table.limits td:nth-child(2) {
  width: 80%;
}

/* Limits: move the on/off switch to the right to visually align it with
   the sliders. The sliders have built in white-space of 40px total; this
   compensates for that. */
table.limits .mdl-switch {
  margin-left: 20px;
}

/* Fab button on cards like select_single and select_multiple. The button
   stays always visible on the right-bottom of the card */
.app-floating-fab {
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 2;
}

.app-floating-fab > div {
  max-width: 560px;
  margin: auto;
  padding-right: 40px;
  text-align: right;
}

/*

.mdl-slider.is-upgraded.is-lowest-value:focus:not(:active)::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgb(255,87,34);
  background: rgb(255,87,34);
}

.mdl-slider.is-upgraded.is-lowest-value::-moz-range-thumb {
  background: rgb(255,87,34);
  border: none;
}*/

#app-rf_protocol-hop_channels__container {
  width: 100%;
}

/* Adjust the left and right padding from the hop channel table */
.mdl-card .mdl-data-table.rf_protocol-hop_channels td:first-of-type {
  padding-left: 0;
}
.mdl-card .mdl-data-table.rf_protocol-hop_channels td:last-of-type {
  padding-right: 0;
}

/* No darkening when hovering over the table */
.mdl-data-table.rf_protocol-hop_channels tbody tr:hover {
  background-color: transparent;
}

table.rf_protocol-hop_channels td:nth-child(2) {
  width: 64px;
}




/* Adjust the left and right padding from the hop channel table */
.is-small-screen .mdl-data-table td:first-of-type {
  padding-left: 10px;
}
.is-small-screen .mdl-data-table td:last-of-type {
  padding-right: 0;
}
.is-small-screen .mdl-data-table td {
  padding-left: 5px;
  padding-right: 5px;
}